<center>
<%= form_for(@thought) do |f| %>
  <% if @thought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thought.errors.count, "error") %> prohibited this thought from being saved:</h2>

      <ul>
      <% @thought.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :story %><br>
    <%= f.text_area :story, :size => "70x25", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-info", class: "form-control" %>
  </div>
<% end %>
</center>